.taskBounder {
    width: 710px;
    background-color: white;
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.taskText {
    width: 560px;
    margin-left: 10px;
    word-break: break-all;
}

.taskContent {
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #585858;
    margin-top: 0px;

}

.taskCreateTime {
    font-size: 12px;
    font-family: 'Poppins';
    color: #585858;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: -10px;
}

.deleteBt {
    height: 30px;
    width: 30px;
    background-color: #DEDFE1;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.deleteBt:hover, .editBt:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.deletePic, .editPic {
    width: 22px;
    height: 22px;
}

.editBt {
    height: 30px;
    width: 30px;
    background-color: #DEDFE1;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
